@CHARSET "UTF-8";
/*봉사 게시판 리스트*/
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1.2rem;
	font-weight: bold;
}

/* 썸머노트 줄간격 조정 */
.note-editor .note-editable {
    line-height: 100%;
}

.personInfo {
	font-size: 1.1rem;
}
.personInfo dl {
	margin-bottom: 0;
}
.personInfo dd {
	margin-bottom: 0;
}